body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #0d9488;
    color: white;
    text-align: center;
    padding: 1em 0;

}

main {
    padding: 2rem 16rem;
    position: relative;
}

section {
    margin-bottom: 1.5em;
    background: white;
    padding: 3rem 4rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    padding: 1.5rem 2rem;
}

input,
select,
textarea {
    padding: .3rem;
    font-size: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: .88rem;
    font-weight: 600;
}


button {
    margin-top: 0.5rem;
    background-color: #0d9488;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    padding: .8rem .3rem;
}

button:hover {
    background-color: #067a70;
}

ul {
    list-style: none;
    padding: 0;
}

.alert {
    font-size: 1rem;
    font-weight: 400;
    background-color: rgb(155, 209, 191);
    color: #0f766e;
    padding: 1rem;
    position: fixed;
    top: 8rem;
    display: none;
}
